@model dynamic

<section id="searchform">
    <div class="jumbotron" id="home-banner">
        <div class="container">
            <h1>Discover the meaning of Yoruba words</h1>
            @await Html.PartialAsync("Partials/_SearchComponent")
            
            @if (Model?.showTagline == true)
            {
                <p class="lead">Over 10,000 Yoruba words and still growing...</p>
            }
            
            @if (Model?.showAlphabet == true)
            {
                @await Html.PartialAsync("Partials/_Alphabets")
            }
        </div>
    </div>
</section>