services:
  website:
    image: ${DOCKER_REGISTRY-}website
    build:
      context: .
      dockerfile: Website/Dockerfile
    depends_on:
      - api

  words-website:
    image: ${DOCKER_REGISTRY-}words-website
    build:
      context: .
      dockerfile: Words.Website/Dockerfile
    depends_on:
      - api

  api:
    image: ${DOCKER_REGISTRY-}api
    build:
      context: .
      dockerfile: Api/Dockerfile
    depends_on:
      - mongodb
      - redis

  mongodb:
    image: mongo:latest
    container_name: ynd-mongodb
    ports:
      - "27020:27017"
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

volumes:
  redis-data:

