version: '3.4'

services:
  website:
    image: ${DOCKER_REGISTRY-}website
    build:
      context: .
      dockerfile: Website/Dockerfile

  api:
    image: ${DOCKER_REGISTRY-}api
    build:
      context: .
      dockerfile: Api/Dockerfile

