[Unit]
Description=Yoruba Name Dictionary Website .NET
After=network.target

[Service]
WorkingDirectory=/home/ec2-user/app/yorubanamedictionary.web.net
ExecStart=/usr/bin/dotnet /home/ec2-user/app/yorubanamedictionary.web.net/Website.dll
Restart=always
# Restart service after 30 seconds if the dotnet service crashes:
RestartSec=30
KillSignal=SIGINT
SyslogIdentifier=yorubanamedictionary-website-net
User=ec2-user
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://localhost:1991
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
