@model IEnumerable<string>
@inject Microsoft.Extensions.Localization.IStringLocalizer<Messages> Localizer
@using Website.Resources
@using Website.Utilities

<ul class="alphabets">
    @if (Model != null)
    {
        foreach (var letter in Model)
        {
            <a href="/alphabet/@letter.NormalizeLetter()"><li>@letter.NormalizeLetter()</li></a>
        }
    }
</ul>
