@model IEnumerable<string>
@inject Microsoft.Extensions.Localization.IStringLocalizer<Messages> Localizer
@using Website.Resources
@using Website.Utilities

<div class="alpha-grid py-5">
    @if (Model != null)
    {
        foreach (var letter in Model)
        {
            <a href="/alphabet/@letter.NormalizeLetter()" class="alpha-item">@letter.NormalizeLetter()</a>
        }
    }
</div>