@using Application.Services.MultiLanguage

@inject ILanguageService LanguageService
@{
    string bgImagePath = "";

    if (LanguageService.IsYoruba)
    {
        bgImagePath = "/img/bg/yorubaname-bg.jpg";
    }
    else if (LanguageService.IsIgbo)
    {
        bgImagePath = "/img/bg/igboname-bg.jpg";
    }
}

@using Application.Services.MultiLanguage

<section class="hero-section py-5" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.6)), url('@bgImagePath'); min-height: auto; padding-top: 3rem; padding-bottom: 3rem;">
    <div class="container">
        @await Html.PartialAsync("Partials/_SearchComponent")
    </div>
</section>