@using Website.Resources

@inject Microsoft.Extensions.Localization.IStringLocalizer<Messages> Localizer

<div class="custom-card mb-4">
    @if (Model != null)
    {
        <h5 class="list-title">
            @Localizer["most-popular-names"]
        </h5>

        <ul class="recent-list">
            @foreach (var popularName in Model)
            {
                <li>
                    <a href="/entries/@popularName">
                        <i class="bi bi-star-fill text-warning me-2" style="font-size: 0.7em;"></i>
                        @popularName
                    </a>
                </li>
            }
        </ul>
    }
</div>
