@using Application.Services.MultiLanguage
@using Website.Resources

@inject Microsoft.Extensions.Localization.IStringLocalizer<Messages> Localizer
@inject ILanguageService LanguageService

<form class="search-input-group" role="search" id="search-tph">
    <input type="text" class="form-control th" id="keyboard" name="searchname" placeholder="@Localizer["search-plchol", LanguageService.LanguageDisplay]" autocomplete="off" spellcheck="false">
    <button class="btn btn-search" type="submit"><i class="bi bi-search"></i></button>
</form>