name: Deploy DotNet service to EC2

on:
  workflow_call:
    inputs:
      project-name:
        required: true
        type: string
      dotnet-version:
        required: true
        type: string
      service-name:
        required: true
        type: string
      service-path:
        required: true
        type: string
      service-file:
        required: false
        type: string
      environment:
        required: true
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:  ${{ inputs.environment }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: ${{ inputs.dotnet-version }}

    - name: Build project
      run: dotnet publish ${{ inputs.project-name }} -c Release -o out

    - name: Deploy to EC2
      env:
        SSH_PRIVATE_KEY: ${{ secrets.DEPLOY_KEY }}
        EC2_INSTANCE_IP: ${{ vars.EC2_INSTANCE_IP }}
        SERVICE_NAME: ${{ inputs.service-name }}
        SERVICE_PATH: ${{ inputs.service-path }}
        SERVICE_FILE: ${{ inputs.service-file }}
      run: |
        echo "$SSH_PRIVATE_KEY" > private_key
        chmod 600 private_key
        rsync -avz --exclude 'appsettings.json' -e "ssh -i private_key -o StrictHostKeyChecking=no" out/ ec2-user@$EC2_INSTANCE_IP:$SERVICE_PATH
        if [ -n "$SERVICE_FILE" ]; then
          scp -i private_key -o StrictHostKeyChecking=no "$SERVICE_FILE" ec2-user@$EC2_INSTANCE_IP:/tmp/
        fi
        ssh -i private_key -o StrictHostKeyChecking=no ec2-user@$EC2_INSTANCE_IP "
        SERVICE_UNIT=\"$SERVICE_NAME\"
        if [[ \"$SERVICE_UNIT\" != *.service ]]; then
          SERVICE_UNIT=\"$SERVICE_UNIT.service\"
        fi
        if ! systemctl list-unit-files | grep -q \"^$SERVICE_UNIT\"; then
          if [ -n \"$SERVICE_FILE\" ]; then
            sudo mv /tmp/\"$SERVICE_UNIT\" /etc/systemd/system/\"$SERVICE_UNIT\"
            sudo systemctl daemon-reload
            sudo systemctl enable \"$SERVICE_UNIT\"
          else
            echo \"Service $SERVICE_UNIT is missing and no service file was provided.\"
            exit 1
          fi
        fi
            sudo systemctl restart $SERVICE_NAME
            sleep 3
            STATUS=\$(sudo systemctl is-active $SERVICE_NAME)
            echo \"The service $SERVICE_NAME is currently \$STATUS\"
            if [ -z \$STATUS ]; then
                echo 'Service status is empty or not defined'
                exit 1
            elif [ \$STATUS != 'active' ]; then
                sudo systemctl status $SERVICE_NAME --no-pager
                exit 1
            else
                echo '${{ inputs.project-name }} was restarted successfully after deployment.'
            fi
        "
      shell: bash
